<h2>Todo List</h2>

<div class="row" style="margin-bottom: 20px">
  <div class="col-md-11">
    <input
      class="form-control form-control-lg border-0 add-todo-input bg-transparent rounded"
      type="text"
      [(ngModel)]="name"
      placeholder="Add new .."
    />
  </div>
  <div class="col-md-1">
    <button type="button" (click)="addTaskList()" class="btn btn-primary">
      Add
    </button>
  </div>
</div>
<ul class="list-group mb-4">
  <li
    class="list-group-item d-flex justify-content-between align-items-center"
    *ngFor="let todo of todoList"
  >
    <a href="/todo/{{ todo.id }}/">{{ todo.name }}</a>
    <span
      class="badge"
      style="background-color: red"
      (click)="removeTaskList(todo.id)"
    >
      <i class="fa fa-times" aria-hidden="true"></i>
    </span>
    <span class="badge badge-primary badge-pill">{{ todo.task_count }}</span>
  </li>
</ul>
